# Maven
target/
build/
**/createdFiles.lst
**/inputFiles.lst

# Java compiled files
*.class

# Logs
*.log

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS files
.DS_Store
Thumbs.db


