# Maven
target/
build/
**/createdFiles.lst
**/inputFiles.lst

# Java compiled files
*.class

# Logs
*.log

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
SmartCampusApi/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
*.lst
*.lst
*.lst
*.lst
*.lst
